{% for mail in object_list %}
    <a href="{% url 'usermessages.detail' %}" data-id="{{mail.id}}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"> To: {{mail.message_to.all|join:', '}} </h5>
            <small> {{mail.sent_at|date:"l j M Y - H:i"}} </small>
        </div>
        <p class="mb-1"> {{mail.subject}} </p>
        <small> {{mail.body|truncatewords_html:8}} </small>
    </a>
{% empty %}
    <h5> You have no sent messages! </h5>
{% endfor %}

<nav aria-label="..." style="margin-top: 10px;">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'usermessages.sent' %}?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
        {% endif %}
        {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="{% url 'usermessages.sent' %}?page={{ p }}"> {{p}} <span class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{% url 'usermessages.sent' %}?page={{ p }}"> {{p}} </a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'usermessages.sent' %}?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>

<script>
    $(".page-link").click(function(e) {
        $("#id-spinner").show();
        e.preventDefault();
        $.ajax({
            type: 'GET',
            url: $(this).attr("href"),
            success: function(response) {
                $("#id-spinner").hide();
                $(".content").html(response);
            }
        });
    });
</script>

<script>
    $(".list-group-item").click(function(e) {
        e.preventDefault();
        $.ajax({
            type: 'GET',
            url: $(this).attr("href"),
            data: {
                'id': $(this).attr("data-id"),
                'sent_messages': true
            },
            success: function(response) {
                $("#id-messages-detail").html(response);
            }
        });
    });
</script>