<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcoming/Landing Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <title>{{ obj.title }}   </title>
    </head>
    <body>

        {% include 'navbar.html' %}

        <!-- Styling for Div containers /-->
        <style>
            .delete-container{
                display: grid;
                grid-template-columns: 1fr 3fr 1fr; 
            }
        </style>

        <div class="delete-container">
            <div></div>
            <div>
                <!-- If user confirms deletion, POST is sent to backend and service is deleted /-->
                <form method="POST" accept="">
                    {% csrf_token %}
                    <p> Are you sure you want to delete " {{obj}}"?</p>   
                    <a href="{{request.META.HTTP_REFERER}}">Go Back</a>
                    <input type="submit" value="Confirm" />
                </form>
            </div>
            <div></div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    </body>
</html>