<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcoming/Landing Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKfrDnj_uke36gzh7N9aWel_FF3e_U9V0"></script>

    <script>
        var marker;
        var map;
        const geocoder = new google.maps.Geocoder();

        function placeMarker(location, map) {
            if (marker == null) {
                marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }
            marker.setPosition(location);
            var latlng = new google.maps.LatLng(location.lat(), location.lng());
            geocoder.geocode(
                {'latLng': latlng},
                function (results, status) {
                    $('#location-json').val(JSON.stringify(results[0]));
                    $('#location').val(results[0].formatted_address);
                    $('#location ~ .invalid-feedback').hide();
                }
            );
        }

        function loadMap(position) {
            var mapProp = {
                center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                zoom: 12,
            };
            var location = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            if (marker == null) {
                marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }
            marker.setPosition(location);
        }

        function getLocation() {
                 var currentLocation ={{ offer.location|safe }}
                loadMap({coords: {longitude: currentLocation.geometry.location.lng, latitude: currentLocation.geometry.location.lat}})
        }

        $(document).ready(function () {
            getLocation()
        })
    </script>
        <title>{{ object.title }}   </title>
    </head>
    <body>

        {% include 'navbar.html' %}

        <style>
            .offering-container{
                display: grid;
                grid-template-columns: 2fr 7fr 3fr;
            }
            .format-container{
                display: grid;
                grid-template-columns: 3fr 5fr 2fr;
            }
        </style>

        <div class="offering-container">
            <div>

            </div>

            <div>

                <span>

                    <!-- Display details of service /-->
                    <div class="format-container">
                        <div>
                            {% if object.photo %} <img src="{{object.photo.url }}" width="200" height="200"> {% endif %}
                        </div>
                        <div>
                        <div>
                            <h3> {{ object.title }}</h3>
                            <h7>by</h7>
                            <h5> <a class="text-decoration-none" href="{% url 'profile' object.owner %}">@{{ object.owner }}</a>  
                                {% if object.owner.Nbadge.is_active %} <span class="badge rounded-pill bg-primary" data-value="This badge belongs to users who haven’t finished their one month in the community">Newcomer</span> {% endif %}
                                {% if object.owner.CBbadge.is_active %} <span class="badge rounded-pill bg-info text-dark" data-value="This badge belongs to users who take at least 5 offers from newcomers in a month">Community Builder</span> {% endif %}
                                {% if object.owner.GSPbadge.is_active %} <span class="badge rounded-pill bg-secondary" data-value="This badge belongs to users who have offered 10 or more services in a month while having 4+ ratings">Great Service Provider</span> {% endif %}
                                {% if object.owner.MEObadge.is_active %} <span class="badge rounded-pill bg-success" data-value="This badge belongs to users who have offered 10 or more events in a month">Master Event Organizer</span> {% endif %}
                            </h5>
                            <h7>at</h7>
                            <h5> {{ object.get_formatted_address }} </h5>
                            <h7>labels</h7>
                            <h5> {{ object.get_tag_labels|join:', ' }} </h5>
                            <h7>created on</h7>
                            <h5> {{ object.created_at|date:"F d, Y" }} </h5>
                            <h7 class="text-danger">Description</h7>
                            <h5> {{ object.description}} </h5>
                        </div>
                        <div>
                                  <div id="googleMap" style="width:100%;height:400px;"></div>
                        </div>
                        </div>
                        <div>



                            {% if request.user == object.owner %}

                                {% if object.start_date|timesince >= "1 min"  %}

                                    <p class="text-danger">Service is over</>
                                        <h3>  </h3>
                                    <a class="btn btn-success btn-sm disabled" href="{% url 'offers.update' object.uuid %}" role="button">Edit</a>
                                        <h3>  </h3>
                                    <a class="btn btn-danger btn-sm disabled" href="{% url 'offers.delete' object.uuid %}" role="button">Delete</a>

                                {% else %}

                                    <!-- If service isn't started yet, but deadline for update passes, then Edit and Delete options are disabled
                                        Assign button is still enabled/-->
                                    {% if object.amendment_deadline|timesince >= "1 min"  %}
                                        <p class="text-danger">Edit timehorizon is over </p>
                                        <a class="btn btn-success btn-sm disabled" href="{% url 'offers.update' object.uuid %}" role="button">Edit</a>
                                        <h3>  </h3>
                                        <a class="btn btn-danger btn-sm disabled" href="{% url 'offers.delete' object.uuid %}" role="button">Delete</a>
                                    {% else %}
                                        <a class="btn btn-success btn-sm" href="{% url 'offers.update' object.uuid %}" role="button">Edit</a>
                                        <h3>  </h3>
                                        <a class="btn btn-danger btn-sm" href="{% url 'offers.delete' object.uuid %}" role="button">Delete</a>
                                    {% endif %}

                                  {% endif %}

                            {% else %}

                                <!-- If user is someone looking for applying the service, then first it's checked that
                                    user has already applied or not/-->
                                {% if applications.count ==  0 %}

                                    <!-- If not applied, but there is not enough credit, this message is shown to user /-->
                                    {% if textMessage == 'Not Enough Credit' %}
                                        <p class="text-danger">Not Enough Credit</p>

                                    {% else %}


                                        <!-- If there is enough credit, but service has started, then button is disabled, and info is displayed /-->
                                        {% if object.start_date|timesince >= "1 min"  %}
                                            <p class="text-danger">Service is over</p>
                                            <a class="btn btn-primary btn-sm disabled" href="{% url 'offers.apply' object.uuid %}" role="button">Apply</a>
                                        {% else %}
                                        <!-- Otherwise, user can apply for the service /-->
                                            <a class="btn btn-primary btn-sm" href="{% url 'offers.apply' object.uuid %}" role="button">Apply</a>
                                        {% endif %}
                                    {% endif %}
                                {% else %}

                                    <!-- If user has already applied for the service,
                                            -service cannot be canceled if update deadline has passed
                                    /-->
                                    {% for a in applications %}

                                        {% if request.user == a.requesterID %}
                                            {% if a.status == "Inprocess" %}
                                                <h7> You've applied this service </h7>
                                                {% if object.start_date|timesince >= "1 min"  %}
                                                    <p class="text-danger">Service is over</p>
                                                    <a class="btn btn-danger btn-sm disabled" href="{% url 'offers.apply.cancel' a.requestID %}" role="button">Cancel Application</a>
                                                {% else %}
                                                    {% if object.amendment_deadline|timesince >= "1 min"  %}
                                                        <p class="text-danger">Edit timehorizon is over</p>
                                                        <a class="btn btn-danger btn-sm disabled" href="{% url 'offers.apply.cancel' a.requestID %}" role="button">Cancel Application</a>
                                                        {% else %}
                                                        <a class="btn btn-danger btn-sm" href="{% url 'offers.apply.cancel' a.requestID %}" role="button">Cancel Application</a>
                                                    {% endif %}
                                                {% endif %} 
                                            <!-- If user didn't apply for the service yet,
                                                -if service has started, Apply button is disabled
                                                -User can apply otherwise
                                            /-->
                                            {% else %}
                                                {% if a.status == "Rejected" %}
                                                    <h7 class="text-danger"> Your application is rejected </h7>
                                                {% else %}
                                                    <h7 class="text-success"> Your application is accepted </h7>
                                                    {% if feedback.count > 0 %}
                                                        <p class="text-danger">Service is over</p>
                                                    {% endif %} 
                                                {% endif %}
                                            {% endif %} 
                                        {% else %}
                                            {% if object.start_date|timesince >= "1 min"  %}
                                                <p class="text-danger">Service is over</p>
                                                <a class="btn btn-primary btn-sm disabled" href="{% url 'offers.apply' object.uuid %}" role="button">Apply</a>
                                            {% else %}
                                                <a class="btn btn-primary btn-sm" href="{% url 'offers.apply' object.uuid %}" role="button">Apply</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>

                    </div>
                </span>
                <hr>

                <!-- Display other details of service /-->
                <h5> {{ object.duration }} hour(s)</h5>
                <h5> on {{ object.start_date }}</h5>
                <h6> with </h6> <h5>{{ object.participant_limit }} capacity </h5>
                <hr>
                <h6> Amendment deadline: {{ object.amendment_deadline }}</h6>
                <h6> {{ object.get_type }} at {{ object.get_tag_labels }} category</h6>
                <hr>
                <h4 class="text-danger"> <u> Participants / Requesters: </u> </h4>
                
                {% if request.user == object.owner %}
                    {% for a in allapplications %}
                    <h6> <a class="text-decoration-none" href="{% url 'profile' a.requesterID %}">@{{ a.requesterID }}</a> - {{ a.status }} </h6>
                    {% endfor %}

                {% else %}
                    <h6> {{allapplications.count}} applications for this offering </h6>
                {% endif %}

                {% if request.user == object.owner %}
                    {% if feedback.count > 0 %}        
                        <hr>
                        <h4 class="text-success"> <u> Feedback regarding this offering </u> </h4>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Message</th>
                                <th scope="col">Rating</th>
                            </tr>
                            </thead>
                            <tbody>               
                        {% for feed in feedback %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td><a class="text-decoration-none" href="{% url 'profile' feed.giverID %}">@{{ feed.giverID  }}</a></td>
                                <td><a class="text-decoration-none" href="{% url 'profile' feed.takerID %}">@{{ feed.takerID  }}</a></td>
                                <td>{{ feed.comment  }} </td>
                                <td>{{ feed.rating  }} </td>
                            </tr>
                        {% endfor %}

                            </tbody>
                        </table>
                    {% endif %}

                {% endif %}

            </div>

            <div>

            </div>
    </div>


    <script>
        $(".rounded-pill").hover(function () {
            $(this).popover({
                content: $(this).data('value')
            }).popover('show');
        }, function () {
            $(this).popover('hide');
        });
    </script>


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    </body>
</html>
