{% extends "offers/base.html" %}

{% block title %}
    Timeline
{% endblock title %}

{% block content %}

    <div class="search-container">

        <div class="search-sidebar">
            <h2>Filter</h2>
            <form action='.' id='search-form' autocomplete="off" method='GET'>
                {{form.as_p}}
                <input type='button' id="id_filter_button" class='btn btn-success' method="GET" value='Filter'/>
                <button class='btn btn-success'> <a class="clear-button" href="{% url 'offer.list' %}"> Clear All </a> </button>
            </form>

        </div>

        <div id="id_results" class="results">
            <h2>All Offers</h2>
            <p> {{object_list|length}} result(s) found </p>
            <div class="row">
                {% for result in object_list %}

                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"> {{result.title}} </h5>
                                <p class="card-text"> Starts at {{result.start_date}} </p>
                                <p class="card-text"> Duration: {{result.duration}} </p>
                                <p class="card-text"> Type: {{result.get_type}} </p>
                                <p class="card-text"> Tags: {{result.get_tag_labels|join:", "}} </p>
                                <p class="card-text"> Location: {{result.get_formatted_address}} </p>
                                <p class="card-text"> Owner: {{result.owner}} </p>
                                <a href="{% url 'offers.detail' pk=result.pk %}" class="btn btn-primary">Go to Offer</a>
                                <a href="{% url 'offers.apply' sID=result.uuid %}" class="btn btn-primary">Apply to Offer</a>
                            </div>
                        </div>
                    </div>
              
            {% comment %} ************************************
                <p> <b> {{result.title}} </b> </p>
                <p> Starts at {{result.start_date}} </p>
                <p> Duration: {{result.duration}} hours </p>
                <p> Type: {{result.type}} </p>
                <p> Tag: {{result.tags}} </p>
                <p> Location: {{result.location}} </p> {% endcomment %}
                {% empty %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    <script>
        $(document).ready(function() {
            $("#id_filter_button").click(function() {
                $.ajax({
                    url: '{% url 'ajax_load_results' %}',
                    type: 'GET',
                    data: {
                        title_query: $("#search-title").val(),
                        location_query: $("#search-location").val(),
                        duration_query: $("#search-duration").val(),
                        start_date_query: $("#search-start_date").val(),
                        tags_query: $("#search-tags").val(),
                        type_query: $("#search-type").val(),
                        owner_query: $("#search-owner").val(),
                    },
                    success: function(response) {
                        $("#id_results").html("");
                        $("#id_results").append(response);
                    }
                });
            });

            $('body').keypress(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $("#id_filter_button").click();
                }
            });
        });
    </script>
{% endblock js %}

{% block styles %}
    <style>
        .search-container {
            display: flex;
            margin-left: 15px;
            margin-top: 15px;
        }

        #search-form label {
            width: 76.2px;
        }

        .results {
            width: 80%;
        }

        .search-sidebar {
            margin-right: 50px;
        }

        .clear-button {
            color: white;
        }

        .clear-button:hover {
            text-decoration: none;
            color: white;
        }

        .applied-filters {
            margin-top: 20px;
            border: 1px black solid;
            padding: 5px;
        }

        .applied-filters-header {
            font-size: 16px;
        }
    </style>
{% endblock styles %}