<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcoming/Landing Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>    
        <title>My Offerings</title>

    </head>
    <body>

        {% include 'navbar.html' %}

        <style>
            .offerings-container{
                display: grid;
                grid-template-columns: 3fr 6fr 3fr; 
            }
            .format-container{
                display: grid;
                grid-template-columns: 3fr 5fr 2fr; 
            }
            .applications-container{
                display: grid;
                grid-template-columns: 3fr 6fr 4fr 7fr; 
            }
        </style>

        <div class="offerings-container">

                <div>

                </div>

                <div>

                </span> 
                    <hr>
                    <h4> Active Served Offers </h4>
                    <hr>
                <span>
                        {% for myOffers in offandapp %}
                            {% if myOffers.3 == "open" %}
                            <span>
                            <div class="applications-container">
                                <div>
                                    <img src="{{myOffers.0.photo.url}}" class="rounded-circle position-relative" width="100" height="100"> 
                                </div>
                                <div>
                                    <h5> <span class="align-middle">{{ myOffers.0.title }} </span>
                                    </h5>
                                    <h6> <span class="align-middle">  {{ myOffers.0.duration }} hours {{ myOffers.0.get_type }} </span>
                                    </h6>
                                </div>
                                <div>
                                    <h5> <span class="align-middle">on {{ myOffers.0.start_date }}</span>
                                    </h5>
                                </div>
                                <div>
                                    <a class="btn btn-primary btn-sm align-middle {% if myOffers.2.count >= myOffers.0.participant_limit or myOffers.1.count == 0 %} disabled {% endif %} " href="{% url 'offers.listassign' myOffers.0.uuid %}" role="button">Assign</a>
                                    <a class="btn btn-warning btn-sm align-middle" href="{% url 'offers.detail' pk=myOffers.0.uuid %}" >Go to Offer</a>
                                
                                {% if myOffers.1.count > 0 %}
                                    <a class="btn btn-success btn-sm align-middle" id="popover{{forloop.counter}}" role="button" data-toggle="popover" data-trigger="focus" title="<div>Applications</div>"
                                        data-value="
                                        {% for applied in myOffers.1 %}
                                            {% if myOffers.0.uuid == applied.serviceID.uuid %}
                                                <div><a class='text-decoration-none' href='{% url 'profile' applied.requesterID %}''>@{{ applied.requesterID }}</a>  - {{applied.status}} </div>
                                            {% endif %}
                                        {% endfor %}
                                        "> {{myOffers.1.count }} Applicants </a>
                                {% else %}
                                    <a class="btn btn-danger btn-sm align-middle" href="" role="button">No Application</a>
                                {% endif %}

                                </div>
                            </div>
                            </span>
                            <br>
                            {% endif %}
                        {% endfor %}


                    </span> 
                        <hr>
                        <h4> Active Applied Offers </h4>
                        <hr>
                    <span>

                    {% for myApp in applications %}
                        {% if myApp.status != "Rejected" %}
                        <span>
                        <div class="applications-container">
                            <div>
                                <img src="{{myApp.serviceID.photo.url}}" class="rounded-circle position-relative" width="100" height="100"> 
                            </div>
                            <div>
                                <h5> <span class="align-middle">{{ myApp.serviceID.title }} </span>
                                </h5>
                                <br>
                                <h6> <span class="align-middle"> from: <a class="text-decoration-none" href="{% url 'profile' myApp.serviceID.owner %}">@{{ myApp.serviceID.owner }}</a> </span>
                                </h6>
                                <h6> <span class="align-middle">  {{ myApp.serviceID.duration }} hours {{ myApp.serviceID.get_type }} </span>
                                </h6>
                            </div>
                            <div>
                                <h5> <span class="align-middle">on {{ myApp.serviceID.start_date }}</span>
                                </h5>
                            </div>
                            <div>
                                <a class="btn btn-warning btn-sm align-middle" href="{% url 'offers.detail' pk=myApp.serviceID.uuid %}" >Go to Offer</a>
                                <div class="text-primary"> Status: {{ myApp.status }} </div> 
                            </div>
                        </div>
                        </span>
                        <br>
                        {% endif %}
                    {% endfor %}
                
                </span> 
                    <hr>
                    <h4> Served Offers History </h4>
                    <hr>
                <span>
                    {% for myOffers in offandapp %}
                        {% if myOffers.3 == "closed" %}
                        <span>
                        <div class="applications-container">
                            <div>
                                <img src="{{myOffers.0.photo.url}}" class="rounded-circle position-relative" width="100" height="100"> 
                            </div>
                            <div>
                                <h5> <span class="align-middle">{{ myOffers.0.title }} </span>
                                </h5>
                                <h6> <span class="align-middle">  {{ myOffers.0.duration }} hours {{ myOffers.0.get_type }} </span>
                                </h6>
                                <h6> Participants:
                                {% for applied in myOffers.1 %}
                                    {% if myOffers.0.uuid == applied.serviceID.uuid and  applied.status == 'Accepted' %}
                                        <span><a class="text-decoration-none" href="{% url 'profile' applied.requesterID %}">@{{ applied.requesterID }}</a> </span>
                                    {% endif %}
                                {% endfor %}
                                </h6>

                            </div>
                            <div>
                                <h5> <span class="align-middle">on {{ myOffers.0.start_date }}</span>
                                </h5>
                            </div>
                            <div>
                                <a class="btn btn-success btn-sm align-middle" href="{% url 'offers.detail' pk=myOffers.0.uuid %}" >Offer Details</a>
                            </div>
                        </div>
                        </span>
                        <br>
                        {% endif %}
                    {% endfor %}

                </span> 
                    <hr>
                    <h4> Applied Offers History </h4>
                    <hr>
                <span>

                {% for myApp in applications %}
                    {% if myApp.status == "Rejected" %}
                    <span>
                    <div class="applications-container">
                        <div>
                            <img src="{{myApp.serviceID.photo.url}}" class="rounded-circle position-relative" width="100" height="100"> 
                        </div>
                        <div>
                            <h5> <span class="align-middle">{{ myApp.serviceID.title }} </span>
                            </h5>
                            <br>
                            <h6> <span class="align-middle"> from: <a class="text-decoration-none" href="{% url 'profile' myApp.serviceID.owner %}">@{{ myApp.serviceID.owner }}</a> </span>
                            </h6>
                            <h6> <span class="align-middle">  {{ myApp.serviceID.duration }} hours {{ myApp.serviceID.get_type }} </span>
                            </h6>
                        </div>
                        <div>
                            <h5> <span class="align-middle">on {{ myApp.serviceID.start_date }}</span>
                            </h5>
                        </div>
                        <div>
                            <a class="btn btn-success btn-sm align-middle" href="{% url 'offers.detail' pk=myApp.serviceID.uuid %}" >Offer Details</a>
                            <div class="text-primary"> Status: {{ myApp.status }} </div> 
                        </div>
                    </div>
                    </span>
                    <br>
                    {% endif %}
                {% endfor %}

                {% for myApp in receivedoffers %}
                    <span>
                    <div class="applications-container">
                        <div>
                            <img src="{{myApp.requestID.serviceID.photo.url}}" class="rounded-circle position-relative" width="100" height="100"> 
                        </div>
                        <div>
                            <h5> <span class="align-middle">{{ myApp.requestID.serviceID.title }} </span>
                            </h5>
                            <br>
                            <h6> <span class="align-middle"> from: <a class="text-decoration-none" href="{% url 'profile' myApp.requestID.serviceID.owner %}">@{{ myApp.requestID.serviceID.owner }}</a> </span>
                            </h6>
                            <h6> <span class="align-middle">  {{ myApp.requestID.serviceID.duration }} hours {{ myApp.requestID.serviceID.get_type }} </span>
                            </h6>
                        </div>
                        <div>
                            <h5> <span class="align-middle">on {{ myApp.requestID.serviceID.start_date }}</span>
                            </h5>
                        </div>
                        <div>
                            <a class="btn btn-success btn-sm align-middle" href="{% url 'offers.detail' pk=myApp.requestID.serviceID.uuid %}" >Offer Details</a>
                            <div class="text-primary"> Status: Service Taken </div> 
                        </div>
                    </div>
                    </span>
                    <br>
                {% endfor %}
                </div>

                


                <div>

                </div>
        </div>

        <script>
            $(document).ready(function(){
                let popOverItems = $('[data-toggle="popover"]');

                for (let i = 0; i < popOverItems.length; i++) {
                    let popOverItem = popOverItems.get(i);

                    $(popOverItem).popover({
                        html:true,
                        content: $(popOverItem).data('value')
                    });
                }  
            });
        </script>


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
    
    </body>

</html>